body {
    margin: 0;
    padding:0;
    width: 10%;
}
.tag {
    margin: -35px;
    margin-left: 5px;
    padding: 57px;
}
.heading {
    position: fixed;
    z-index: 1;
    font-size: 13px;
    color: blue;
    width: 100%;
    
    margin-top: -130px;
    /* padding: 0px; */
    justify-content: space-between;
    display: flex;
    background-color: white;
    text-decoration: none;

    /* border: 2PX SOLID black; */
}
.heading ul li {
    position: relative;
    display: inline-block;
    margin: 0px;
    font-size: 15px;
    padding: 22px;
    margin-top: 20px;
    color: black;
    user-select: none;
    
}
.heading ul li::after {
    width: 0;
    transition: 0.5s;
    height: 3px;
    content: " ";
    position: absolute;
    left: 0;
    bottom: -10px;
}
.heading li:hover::after {
    background-color: brown;
    width: 100%;
}
.mp1 {
    /* border: 2px solid black; */
    height: 350px;
    background-color: black;
    margin-top: 120px;
    width: 1000%;
}
.left {
    margin-top: 35px;
    margin-left: 600px;
    font-size: 30px;
    background-color: white;
    border: 0;
}
.right {
    padding-bottom: 3 5px;
    margin-right: -800px;
    font-size: 30px;
    background-color: white;
    border: 0;
}
.left:hover {
    background-color: yellow;
}
.right:hover {
    background-color: yellow;
}
#contain {
    /* border: 2px solid black; */
    font-size: 13px;
    color: blue;
    width: 996%;
    /* margin: 30px; */
    padding: 85px 0;
    justify-content: space-between;
    display: flex;
}
#contain ul {
    position: relative;
    display: inline-block;
    margin: 0 35px;
    text-decoration: dashed;
}
.ch {
    color: rgb(231, 52, 52);
    text-align: center;
}
.cp {
    font-size: x-large;
    margin-left: 6px;
}
.c1 {
    margin-left:0px;
    /* border: 2px solid black; */
    width: 370px;
    text-align: justify;
}
.c2 {
    margin-left: -205px;
    /* border: 2px solid black; */
    width: 370px;
    position: relative;
    text-align: justify;
}

.c3 {
    margin-top: -1px;
    margin-left: -205px;
    margin-right: px;
    /* border: 2px solid black; */
    width: 370px;
    text-align: justify;
}
.service {
    width: 996%;
    margin-top: 100px;
    justify-content: space-between;
    display: flex;
    /* border: 2px solid black; */
}

.service img {
    margin-bottom: 180px;
    position: relative;
    display: inline-block;
    margin: 0 35px;
    text-decoration: none; 
}

.ad {
    /* border: 2px solid black; */
    height: 500px;
    /* text-align: center; */
}
.ad1 {
    /* border: 2px solid black; */
    height: 500px;
    /* text-align: center; */
}

.ad:hover {
    background-color: aqua;
}
.as {
    text-align: center;
    font-size: xx-large;
    color: goldenrod;
    /* margin-left: 60px; */
}
.as1 {
    text-align: center;
    font-size: xx-large;
    color: goldenrod;
    /* margin-left: 5px; */
}
.as2 {
    /* border: 2px solid black; */
    text-align: center;
    font-size: xx-large;
    color: goldenrod;
    width: 300px;
    /* margin-left: -5px; */
}
.as3 {
    width: 300px;
    /* border: 2px solid black; */
    text-align: center;
    font-size: xx-large;
    color: goldenrod;
    /* margin-left: 100px; */
}

.rm {
    margin-left: 80px;
    font-size: xx-large;
    color:#0f294a;

}
.p{
    width: 350px;
    margin-top: 41px;
    font-size:large;
    text-align: center;
    color: black;
}
.p1{
    margin-top: 44px;
    font-size:large;
    text-align: center;
    color: black;
}
.p2{
    width: 350px;
    margin-top: 80px;
    font-size:large;
    text-align: center;
    color: black;
}
#our {
    /* border: 2px solid black; */
    width: 997%;
    text-align: center;
    /* font-size: xx-large; */
    /* text-align: center; */
    color: goldenrod;
}
.team {
    /* border:2px solid black; */
    width: 996%;
    margin-top: 50px;
    text-align: center;
    color: goldenrod;
}
.t1 {
    width: 996%;
    margin-top: 100px;
    justify-content: space-between;
    display: flex;
    /* border: 2px solid black; */
}
.t1 img {
    margin-bottom: 180px;
    position: relative;
    display: inline-block;
    margin: 0 35px;
    text-decoration: none;
}

.ac {
    border: 2px solid white;
    height: 500px;
}

.ac:hover {
    background-color: aqua;
}
.m1{
    border-radius: 250px;
}
.cap {
    text-align: center;
    font-size: x-large;
    color: goldenrod;
}

.cam {
    margin-left: 80px;
    font-size: x-large;
    color:#0f294a;
}
#footer {
    height: 300px;
    width: 996%;
    margin: -1px;
    padding: 20px 0;
    justify-content: space-between;
    display: flex;
    background-color: #0f294a;
    /* border: 2px solid black; */

}

#footer li {
    color: goldenrod;
    
}
.lse {
    font-size: xx-large;
    margin-top: 250px;
    margin-left: 25px;
}
.line1 {
    border: 2px solid goldenrod;
    margin-top: 25px;
    margin-left:30px;

}
.cus{
    margin-right: 25px;
}
.lj {
    color: goldenrod;
}
.eline {
    border: 1px solid goldenrod;
    /* width: 100%; */
}

.copy {
    margin-top: -25px;
    height: 50px;
    background-color: #0f294a;
    width: 996%;
}
.cop {
    color: white;
    /* margin-left: 120px; */
    text-align: center;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 1%;
    top: 45px;
}
.line{
    width: 33px;
    /* background-color: black; */
    border-color: black;

    height: 4px;
    margin: 5px 3px;
}
@media only screen and (max-width:1140px){
    body{
        width: 9.0%;
    }
    .heading{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 377px;   
    }
    .burger{
        display: block;
    }
    .line{
        background-color: black; 
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .mp{
        flex-direction: column;
        width: 111.5%;
    }
    .tag{
        margin-left: -50px;
    }
    .left {
        margin-left: 500%;
    }
    #contain{
        flex-direction: column;
        align-items: center;
    }
    .c1{
        margin-left: 50px;
        align-self: center;
    }
    .c2{
        margin-left: 50px;
        align-self: center;
    }
    .c3{
        align-self: center;
        margin-left: 50px;
    }
    #our{
        align-items: center;
    }
    .ad{
        align-items: center;
        margin-left: 50px;
        margin-top: 50px;
    }
    .ad1{
        align-items: center;
        margin-left: 50px;
        margin-top: 50px;
    }
    .as{
        align-items: center;
        margin-left: -10px;
    }
    .as2{
        align-items: center;
        margin-left: -20px;
        width: 373px;
    }
    .p{
        align-items: center;
        margin-left: -10px;
    }
    .rm{
        align-items: center;
        margin-left: 60px;
    }
    .as3{
        margin-left: 20px;
    }
    .p1{
        align-items: center;
    }
    .service{
        flex-direction: column;
        margin-top: -20px;
        align-items:center;
    }
    .team{
        align-items: center;
        margin-left: 10px;
    }
    .t1{
        flex-direction: column;
        align-items: center;
    }
    .cap{
        align-items: center;
    }
    .ac{
        margin-left: 60px;
        align-items: center;
    }
    #footer{
        flex-direction: column;
        height: auto;
        width: 1110%;

    }   
    .copy{
        width: 1100%;
        line-height: 25px;
        height: min-content;
        padding: 2px;
    }
}